body {
    background-color: #1a1b26;
    color: #d5d6db;
	text-align: justify;
}

main {
    width: 40%;
    margin: auto;
    min-width: 700px;
}

dialog {
    background-color: #1a1b26;
    color: #d5d6db;
    border: 1px solid #d5d6db;
}

h1 {
    font-size: 3em;
    text-align: center;
}

h2 {
    font-size: 2em;
    margin-bottom: 1.5em;
    margin-top: 1.5em;
}

input[type='password'] {
    background-color: #1a1b26;
    color: #d5d6db;
    border: 1px solid #d5d6db;
    height: 24px;
    box-sizing: border-box;
}

input[type='submit'] {
    background-color: #1a1b26;
    color: #d5d6db;
    border: 1px solid #d5d6db;
    height: 24px;
}

input:focus {
    outline: none;
    border: 1px solid #7dcfff;
}

table {
    border-collapse: collapse;
    border: 1px solid #d5d6db;
}

th, td {
    border: 1px solid #d5d6db;
    padding: 1em;
    min-width: 50px;
}

a {
    color: #d5d6db;
}

ul {
     text-align: left;
}

.up {
    display: block;
    width: 100%;
    text-align: center;
}

.up > img {
    text-align: center;
    width: 32px;
    margin: 12px;
    padding: 6px;
    border: 1px solid #d5d6db;
}

.link_list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.link_frame {
    margin-bottom: 12px;
    height: 80px;
    border: 1px solid #d5d6db;
    border-left: 18px solid #d5d6db;
    width: 100%;
	text-align: left;
    text-decoration: none;
}

.link_frame:focus {
    outline: none;
    border: 2px solid #7dcfff;
    border-left: 18px solid #7dcfff;
}

.link_frame > img {
    display: inline-block;
    vertical-align: middle;
    margin-top: 7px;
    margin-left: 12px;
    margin-right: 12px;
    width: 64px;
    height: 64px;
}

.link_frame > span {
    display: inline-block;
    font-size: 1.5em;
    vertical-align: -0.4em;
}

.icon_button {
    background: none;
    border: 1px solid #d5d6db;
    width: 48px;
    height: 48px;
    padding: 6px;
    margin: 12px;
}

.icon_button:focus {
    outline: none;
    border: 1px solid #7dcfff;
}

.icon_button > img {
    border: none;
    height: 24px;
    margin: auto;
}

.spell {
    float: left;
    background: black;
    margin: 6px;
    padding: 12px;
    text-align: justify;
}

.spell > ul {
    list-style-type: none;
}
